In [ ]:
import pandas as pd
import numpy as np
import os
import json
from ast import literal_eval
import re

In [ ]:
train = pd.read_csv('train.csv')

In [ ]:
train.head(2)

    left_id  ...                                        right_title
0   8837825  ...   "Samsung 850 EVO Series M.2 1TB SATA 6Gbps So...
1  16272671  ...   "Corsair Vengeance LPX Black 32GB (4x8GB) DDR...

[2 rows x 16 columns]

In [ ]:
train.columns

Index(['left_id', 'left_category', 'right_id', 'right_category', 'label',
       'pair_id', 'left_brand', 'right_brand', 'left_description',
       'right_description', 'left_price', 'right_price',
       'left_specTableContent', 'right_specTableContent', 'left_title',
       'right_title'],
      dtype='object')

In [ ]:
rep = {'left_title':'NA','right_title':'NA','left_brand':'NA', 'right_brand':'NA','left_price':0,'right_price':0}

train = train.fillna(rep)

In [ ]:
train.head(2)

    left_id  ...                                        right_title
0   8837825  ...   "Samsung 850 EVO Series M.2 1TB SATA 6Gbps So...
1  16272671  ...   "Corsair Vengeance LPX Black 32GB (4x8GB) DDR...

[2 rows x 16 columns]

In [ ]:
def result(t):
  if t!=0:
    op = re.findall("\d+\.\d+",t)
    if op:
      return op[0]
    else:
      return 0
  else:
    return 0

train['left_price'] = train.apply(lambda row:result(row['left_price']),axis=1)
train['right_price'] = train.apply(lambda row:result(row['right_price']),axis=1)

#  if row['right_price']!=0 else 0

In [ ]:
train.tail(5)

        left_id  ...                                        right_title
11623  13459729  ...   "Kingston HyperX Fury Blue DDR3 1600 4GB CL10...
11624   7391727  ...   "Asus GeForce GTX 1060 PCIe Turbo Graphics Ca...
11625   8921236  ...   "Kingston HyperX Fury black HX426C15FB/4 - Pr...
11626   2592100  ...   "HP ENVY Photo Impresora multifunción de la s...
11627    729112  ...                    "Corsair CMK64GX4M4A2666C16"@es

[5 rows x 16 columns]

In [ ]:
len(train)

11628

In [ ]:
train['final'] = train.apply(lambda row:'COL title VAL '+row['left_title']+' COL manufacturer VAL '+row['left_brand']+' COL price VAL '+str(row['left_price'])+'\t'\
                             +'COL title VAL '+row['right_title']+' COL manufacturer VAL '+row['right_brand']+' COL price VAL '+str(row['right_price'])+'\t'\
                             +str(row['label']),axis=1)

In [ ]:
train.head()

    left_id  ...                                              final
0   8837825  ...  COL title VAL  "Samsung 850 EVO 500GB MZ-75E50...
1  16272671  ...  COL title VAL  "Corsair Vengeance LPX CMK64GX4...
2   9115026  ...  COL title VAL  "10TB GOLD SATA 6 GB/S 7200 RPM...
3  17253303  ...  COL title VAL  "242469-001 HP Storageworks Ext...
4  11118257  ...  COL title VAL  "DISCO DURO INTERNO HDD SEAGATE...

[5 rows x 17 columns]

In [ ]:
train['final'].iloc[0]

'COL title VAL  "Samsung 850 EVO 500GB MZ-75E500B/EU"@es COL manufacturer VAL NA COL price VAL 0\tCOL title VAL  "Samsung 850 EVO Series M.2 1TB SATA 6Gbps Solid State Drive (MZ-N5E1T0BW)"@en "▷ Samsung … | OcUK"@en COL manufacturer VAL "Samsung"@en COL price VAL 0\t0'

In [ ]:
train['final'] = train['final'].replace('"','')

In [ ]:
train['final'].to_csv('train.txt',index=False)

In [ ]:
#Edited manually and reuploading

In [ ]:
data = pd.read_csv('train.txt')

CParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 3

In [ ]:
!conda install -c conda-forge nvidia-apex

Fetching package metadata ...